.topLevelTreeItem{font-weight:bold;}
// .topLevelTreeItem div{font-weight: normal;}

.topLevelService{font-weight: bold; /* text-shadow:1px 0px #f4f4f4; */}
.attributes{font-weight: normal; text-shadow:none;}
.visible{ visibility: visible; }
.invisible{ display:none; }
