@fontSize150:           150%;  
@fontSize100:           100%;
// width and heights in percentile
//--------------------------
@widthHundPercent:100%;
@heightHundPercent:100%;

@ciscoColor: #0096d6;

.registration {
    top:20%;
    width:300px;
    text-align: center;
    margin:30px auto;
    border: 1px solid silver;
    font-family: ciscosansttextralight;
    font-size:@fontSize100;
}
.alertMessage{
    text-align:center;
    font-size:80%;
    color: #0096d6;
    margin-bottom:10px;
    width:95%;
}
.termsCheckbox{ }
.registration_input_text {
    font-size: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 100%;
    border: 2px solid #d4d4d4;
    // background: #ed2525;
    width: 80%;
}
.registration_input_button {
    padding: 10px;
    margin-bottom: 10px;
    background: #0096d6;
    width: 88%;
    color: white;
    border: 1px solid #0096d6;
    cursor: pointer;
    //cursor: hand;
    // display: block;
    margin: 0px auto;
    font-size: 100%;
}
