*{font-family: 'ciscosansttextralight', 'Helvetica', 'Arial';}
.fullwidth{width:100%}
.leftMenu{background:#fafafa; border-right:1px solid #ccc; width:20%;}
.header{display:block; font-size: 100%; padding:10px; background:#3399CC; margin-bottom: 10px; color:#fff; border-right:1px solid #3399CC;}
.mainArea{border-right: 1px solid #d4d4d4; height:98%; padding:3px; background:#fefefe;}
.topToolbar{background:#3c6aa1; border:none; color:#fff; width:100%;}
.logoutButton{ float:right; margin:0px 30px 0px auto; background:#fff;}
.topToolbar *{vertical-align: middle;}
.topToolbar div {margin-right:30px;}
// .topToolbar button{margin:none;}
.toolbarlogo{background: url("../../assets/logo.png") no-repeat; width:60px !important; height:32px !important;}
.bottomToolbar{background:#ccc; border:none;}
.right{float:right; text-align: right; right:10px;}
